.triple-filler-wrapper {
    display: flex; 
    margin: auto; 
    justify-content: center; 
    align-items: center; 
    background-color: var(--color-neutral-700);
}

.triple-filler-img-wrapper {
    padding: 4vw;
    padding-left: 0vw;  
}
.triple-filler-img {
    height: 80vh; 
    width: 100%; 
}

.filler-line {
    background-color: var(--color-neutral-200); 
    width: 2px; 
    height: 90vh; 
}

.filler-right-content {
    display: flex; 
    flex-direction: column; 
    padding: 4vw; 
    width: 35%; 
    gap: 4vh;  
    color: var(--color-neutral-200); 
}

.filler-right-content h2 {
    margin: 0; 
}

.filler-right-content p {
    font-size: var(--font-body-sm); 
}

