.hero-wrapper {
    background-color: var(--color-neutral-100); 
}

.hero-wrapper h1 {
    font-weight: var(--font-display-lg-weight);  
    color: var(--color-neutral-800); 
    margin: 0; 
}

.hero-wrapper p {
    color: var(--color-neutral-800); 
}

.hero-wrapper {
    display: flex; 
    flex-direction: row;
    padding: 132px 80px; 
    justify-content: space-evenly;   
    gap: 24px; 
}

.hero-right-wrapper {
    width: 440px; 
    display: flex; 
    flex-direction: column; 
    gap: 24px;
}

