.text-scroll-wrapper {
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    padding: 4vh 4vw; 
    background: linear-gradient(
        to bottom, 
        var(--color-neutral-100) 0%, 
        var(--color-neutral-100) 25%, 
        var(--color-neutral-700) 25%, 
        var(--color-neutral-700) 100%
    );
}

.text-scroll-wrap {
    display: flex; 
    flex-direction: row;  
    white-space: nowrap; 
    align-items: center; 
    gap: 20px; 
    position: absolute; 
    z-index: 1; 
    top: 35%; 
    font-family: var(--font-display); 
    font-size: var(--font-display-xl); 
    color: var(--color-neutral-200); 
    font-weight: 500; 
}

.text-scroll-wrap img {
    height: 104px; 
    width: 104px; 
}
.text-scroll-img {
    display: block; 
    margin: auto; 
    height: 960px; 
    border: 16px solid var(--color-neutral-800); 
    border-radius: 999px; 
}

@media only screen and (max-width: 480px) {
    .text-scroll-img {
        height: 440px;
    }
    .text-scroll-wrap img {
        height: 52px; 
        width: 52px; 
    }
}

@media only screen and ((min-width: 481px) and (max-width: 800px)) {
    .text-scroll-img {
        height: 600px;
    }
}

@media only screen and ((min-width: 801px) and (max-width: 1024px)) {
}