.filler-wrapper {
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    background: linear-gradient(
        to bottom, 
        var(--color-neutral-100) 0%, 
        var(--color-neutral-100) 25%, 
        var(--color-neutral-700) 25%, 
        var(--color-neutral-700) 100%
    );
}

.text-scroll-wrap {
    display: flex; 
    flex-direction: row;  
    white-space: nowrap; 
    align-items: center; 
    gap: 20px; 
    font-family: var(--font-display); 
    font-size: var(--font-display-xl); 
    color: var(--color-neutral-200); 
    font-weight: 500; 
    position: absolute; 
    z-index: 1; 
    top: 35%; 
    /* left: 100vw;   */
    /* animation: slide 15s linear infinite; */
}

.text-scroll-wrap img {
    height: 104px; 
    width: 104px; 
}
.filler-img {
    display: block; 
    margin: auto; 
    height: 100vh; 
    border: 16px solid var(--color-neutral-800); 
    border-radius: 999px; 
}
.debug {
    border: 1px solid red; 
}

