.cart {
    background-color: var(--color-neutral-700);
}
p, h1 {
    color: var(--color-neutral-200); 
}
.cart-title {
    font-family: var(--font-body); 
    font-size: var(--font-body-sm); 
}
.line {
    background-color: var(--color-neutral-200); 
    width: 100%;  
    height: 2px; 
}