.description, .count-handler, .cart-item {
    color: var(--color-neutral-200); 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
}

.count-handler button, input {
    color: var(--color-neutral-200); 
    padding: 0px; 
    font-size: 16px; 
    background: transparent; 
    border: none; 
    text-align: center; 
}

.cart-item {
    width: 500px; 
}
.count-handler input { 
    width: 24px; 
}

.count-handler {
    gap: 6px; 
    padding: 6px 10px;
    border: 0.5px solid; 
}

.cart-description {
    gap: 2vw; 
}

.cart-product-img {
    width: 167px; 
    height: 167px; 
}

.cart-product-name {
    width: 120px; 
    text-align: center; 
}
.cart-product-price {
    width: 80px; 
    text-align: center; 
}

