.cart {
    background-color: var(--color-neutral-700);
}

.cart-title, .order-number, .checkout {
    font-family: var(--font-body); 
    font-size: var(--font-body-sm); 
}

.title {
    font-size: var(--font-body-md); 
    color: var(--color-neutral-200); 
}

.line {
    background-color: var(--color-neutral-200); 
    width: 100%;  
    height: 2px; 
}

.cart-container, .cart-items, .checkout-container, .order-summary-container, .checkout, .checkout-amounts-container {
    display: flex; 
    flex-direction: column; 
    color: var(--color-neutral-200); 
    justify-content: center; 
}

.cart-container {
    flex-direction: row; 
}


.cart-title-container {
    width: 100%; 
}
.cart-items {
    padding: 40px; 
    gap: 24px; 
}

.checkout-container {
    width: 268px; 
    height: 100%; 
    padding: 24px 36px; 
    gap: 24px; 
    margin: 40px; 
    background-color: var(--color-neutral-600); 
}

.checkout-container p {
    font-size: var(--font-body-sm); 
}
.order-summary-container {
    gap: 8px;  
}

.checkout {
    width: 100%; 
    flex-direction: row; 
    justify-content: space-between;
}

.checkout-amounts-container {
    gap: 8px; 
}

.empty {
    color: var(--color-neutral-200); 
    display: flex; 
    flex-direction: column; 
    gap: 16px; 
    height: 60vh; 
    padding: 40px; 
}

.empty button {
    background-color: var(--color-neutral-200); 
    border-radius: 0px; 
    width: fit-content; 
}
