.product {
    display: flex; 
    flex-direction: column; 
    width: 368px; 
    flex-shrink: 0; 
    gap: 16px; 
}
.product-img {
    width: 368px; 
    height: 328px; 
}

.product-price {
    font-size: var(--font-body-sm); 
}

/* for layout purposes atm */
/* .addToCartBttn {
    display: none; 
} */