.shop {
    background-color: var(--color-neutral-700); 
    color: var(--color-neutral-100); 
}

.category-title-container {
    padding-right: 180px; 
    z-index: 5; 
}

.product-section {
    display: flex; 
    z-index: 1; 
    padding: 80px 0 80px 80px; 
}

.products-container {
    gap: 24px; 
    padding: 0px 80px 0px 0px; 
    width: 100%; 
    display: flex; 
    overflow-x: scroll; 
    white-space: nowrap; 
}

.products-container::-webkit-scrollbar {
    display: none; 
}

@media only screen and (max-width: 480px) {
}

@media only screen and ((min-width: 481px) and (max-width: 768px)) {
}


@media only screen and ((min-width: 769px) and (max-width: 1024px)) {
}