.shop {
    background-color: var(--color-neutral-700); 
    color: var(--color-neutral-100); 
}

.category-title-container {
    padding-right: 180px; 
    z-index: 5; 
}

.product-section {
    display: flex; 
    z-index: 1; 
    padding: 80px 0 80px 80px; 
}

.products-container {
    padding: 0px 20px; 
    width: 100%; 
    display: flex; 
    gap: 24px; 
    overflow-x: scroll; 
    white-space: nowrap; 
}

.products-container::-webkit-scrollbar {
    display: none; 
}
