.button, .primary, .light, .dark {
    font-family: var(--font-body); 
    font-size: var(--font-size-md); 
}

.light, .dark {
    border: 1px solid var(--color-neutral-700); 
    border-radius: 999px; 
    padding: 14px 28px; 
    width: fit-content; 
}

.primary {
    background-color: var(--color-neutral-100); 
    border: none; 
    width: 100%; 
    padding: 10px; 
    color: var(--color-neutral-800); 

}

.light {
    color: var(--color-neutral-700); 
    background-color: var(--color-neutral-100); 
}

.dark {
    color: var(--color-neutral-100); 
    background-color: var(--color-neutral-700); 
    border: 1px solid var(--color-neutral-100); 
}
