.hero-wrapper h1 {
    font-family: var(--font-display); 
    font-size: var(--font-display-lg); 
    font-weight: var(--font-display-lg-weight);  
    margin: 0; 
}

.hero-wrapper p {
    font-family: var(--font-body); 
    font-size: var(--font-body-md); 
}

.hero-wrapper {
    display: flex; 
    flex-direction: row;
    padding: 132px 80px; 
    justify-content: space-evenly;   
    gap: 24px; 
}

.hero-right-wrapper {
    width: 440px; 
}

.hero-wrapper button {
    background-color: var(--color-neutral-100); 
    padding: 14px 28px; 
    color: var(--color-neutral-800); 
    border-radius: 999px; 
    font-family: var(--font-body); 
    font-size: var(--font-body-md); 
}