.hero-wrapper h1 {
    font-weight: var(--font-display-lg-weight);  
    margin: 0; 
}

.hero-wrapper {
    display: flex; 
    flex-direction: row;
    padding: 132px 80px; 
    justify-content: space-evenly;   
    gap: 24px; 
}

.hero-right-wrapper {
    width: 440px; 
}

