.navbar {
  padding: 20px 80px 20px 80px;  
  background-color: var(--color-neutral-100);
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.navbar :any-link {
  font-family: var(--font-display);
  font-size: var(--font-display-sm);
  font-weight: var(--font-display-sm-weight); 
  color: var(--color-neutral-800); 
  text-decoration: none; 
}

